<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>board</key>
	<dict>
		<key>0</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>2</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>2</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>numFlakes</key>
			<integer>5</integer>
			<key>typeFlake</key>
			<integer>1</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>2</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>numFlakes</key>
			<integer>4</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>numFlakes</key>
			<integer>1</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>numFlakes</key>
			<integer>3</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>numFlakes</key>
			<integer>3</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>22</key>
		<dict>
			<key>numFlakes</key>
			<integer>2</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>23</key>
		<dict>
			<key>numFlakes</key>
			<integer>2</integer>
			<key>typeFlake</key>
			<integer>1</integer>
		</dict>
		<key>24</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>25</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>1</integer>
		</dict>
		<key>26</key>
		<dict>
			<key>numFlakes</key>
			<integer>2</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>27</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>1</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>numFlakes</key>
			<integer>5</integer>
			<key>typeFlake</key>
			<integer>1</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>numFlakes</key>
			<integer>3</integer>
			<key>typeFlake</key>
			<integer>1</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>numFlakes</key>
			<integer>0</integer>
			<key>typeFlake</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
